<script src="js/controller/detail.js"></script>
<div ng-init="initialize()" ng-controller="detailController">
  <button ng-click="ensureBookInfomation()">ensureBookInformation</button>
  <h1>{{title}}</h1>
  <h2>{{author}}</h2>
  <h2>{{ISBN}}</h2>
</div>