<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html ng-app="main">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
  <link rel="stylesheet" type="text/css" href="css/bootstrap-combined-2.3.2.min.css" />
  <script src="phonegap.js"></script>
  <script src="barcodescanner.js"></script>
  <script src="js/jquery-1.9.1.min.js"></script>
  <script src="js/angular-1.0.7.min.js"></script>
  <script src="js/bootstrap-2.3.2.min.js"></script>
  <script src="js/ui-bootstrap-tpls-0.4.0.min.js"></script>
<!--
  <script src="js/library/cau/app.js"></script>
-->
  <script src="js/controller/account.js"></script>
</head>
<body>
  <div class="navbar" ng-controller="account" ng-init="initialize()">
    <div class="navbar-inner">
      <div class="brand">CAU Books</div>
      <ul class="nav pull-right">
        <li ng-hide="isLoggedIn" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            Log In
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <form ng-submit="login()">
              <input ng-model="userId" type="text" placeholder="ID"></input>
              <input ng-model="userPassword" type="password" placeholder="Password"></input>
              <button type="submit" class="btn btn-block btn-primary">Log In</button>
              <h6><input ng-model="autoLogin" type="checkbox">Auto Log In</input></h6>
              <div class="alert" ng-show="autoLogin">Warning!</alert>
            </form>
          </ul>
        </li>
        <li ng-show="isLoggedIn" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            Log Out
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <form ng-submit="logout()">
              <button type="submit" class="btn btn-block btn-danger">Log Out</button>
            </form>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div ng-view></div>
  <script src="js/module.js"></script>
</body>
</html>
