<script src="js/controller/search.js"></script>
<div ng-init="initialize()" ng-controller="searchController">
    <input ng-model="queryText" class="search-query" type="text" placeholder="What are you looking for?"></input>
    <button ng-click="search(queryText)" class="btn">Search</button>
    <a ng-click="scanBarcode()" class="btn">Scan Barcode</a>
</div>
